colorama==0.4.4
duolingo-api==0.5.4
google-api-python-client==2.43.0
google-auth==2.6.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
httplib2==0.20.4
jsonschema==4.1.2 
oauthlib==3.2.0
pyOpenSSL
#openssl==1.1.1n
pandas==1.1.5
pytest==6.2.4
#python==3.6.15
#python==3.10.7
python-dotenv==0.20.0
requests==2.27.1
shellingham==1.4.0
sqlalchemy==1.0.19
#sqlite==3.38.2
typer==0.3.2
