[General]
base_path = /home/rjof/logme_data 
database = ${base_path}/.rjof_logme.db

[LocalPaths]
storage = ${General:base_path}
logs_path = ${General:base_path}/logs
landing_path = ${General:base_path}/landing
history_path = ${General:base_path}/history

[Sources]
src = aTimeLogger,duolingo,koreaderStatistics,koreaderClipping,pomodoro,podcast_adict,multi_timer,tap_log,loop_habits,instagram,Multi_Timer

[aTimeLogger]
connection = GoogleDrive
format = csv
sep = ,
date_format = yyyy-mm-dd hh:mm
fields = Group, Activity type, Duration, From, To, Comment
field_type = str, date (hh:mm), date, date, str
days_to_retrieve_api = 3650

[duolingo]
connection = api
format = json
languages = de,fr
end_points = user_info,known_words,streak_info,learned_skills

[koreaderStatistics]
connection = file_system
src_file = /home/rjof/Documents/koreader_rayen/statistics/statistics.sqlite3
format = sqlite

[koreaderClipping]
connection = file_system
src_file = /home/rjof/Documents/koreader_rayen/clipboard/KOReaderClipping.txt
format = text

[pomodoro]
connection = GoogleDrive
format = csv
sep = ,
date_format = yyyy-mm-dd hh:mm
fields = Group, Activity type, Duration, From, To, Comment
field_type = str, date (hh:mm), date, date, str

[podcast_adict]
connection = GoogleDrive
format = csv
sep = ,
date_format = yyyy-mm-dd hh:mm
fields = Group, Activity type, Duration, From, To, Comment
field_type = str, date (hh:mm), date, date, str

[multi_timer]
connection = GoogleDrive
format = csv
sep = ,
date_format = yyyy-mm-dd hh:mm
fields = Group, Activity type, Duration, From, To, Comment
field_type = str, date (hh:mm), date, date, str

[tap_log]
connection = GoogleDrive
format = csv
sep = ,
date_format = yyyy-mm-dd hh:mm
fields = Group, Activity type, Duration, From, To, Comment
field_type = str, date (hh:mm), date, date, str

[loop_habits]
connection = GoogleDrive
format = csv
sep = ,
date_format = yyyy-mm-dd hh:mm
fields = Group, Activity type, Duration, From, To, Comment
field_type = str, date (hh:mm), date, date, str

